# Clash 配置来源：CLASH_URL 和 YAML_FILE 二选一，选择一个请注释另外一个

# export CLASH_URL='http:you-subscribe.com'
export CLASH_CONFIG_FILE='my-clash.yaml'

# Clash Dashboard Secret，面板访问密码，默认123456
export CLASH_SECRET='123456'
